body {
	width: auto;
	background-color: black;
	text-align: center;
}

h2 {
    display: inline;
	width: auto;
	font-family: impact;
	
}

a {
	text-decoration: none;
}
.navbar {
	background-color: antiquewhite;
	width: auto;
	margin: auto;
	border-radius: 10px;
	
}

.navbutton {
	display: inline;
	width: 50%;
}

.signature {
	display: inline;
	width: 200px;
	margin-right: 700px;
	margin-left: 0;
}
